node_modules
coverage
report/static/screenshots
report/static/results.json
report/dist
.DS_Store
.cache
.tmp
.eslintcache
.out
.changelog

# Yarn 4
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.pnp.*

# IDEs and editors
.idea
.project
.classpath
.c9
*.launch
.settings
*.sublime-workspace
.history
.vscode
.yo-rc.json
